<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark travel</title>
    </head>
    <body>
        <header>
            <img src="/img/choix.PNG" alt="Meadowlark Travel temporary logo">
        </header>
        {{{body}}}
    </body>
</html>